# Unity Generated
# ==============================================================================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
sysinfo.txt


# Unity VSCode Plugin (https://www.assetstore.unity3d.com/en/#!/content/45320)
# ------------------------------------------------------------------------------
/Assets/VSCode/
/Assets/VSCode.meta


# All Editors Generated
# ==============================================================================
/.vs/
/.vscode/
[Ee]xported[Oo]bj/
.consulo/
*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.pdb


# OS Generated
# ==============================================================================


# Windows
# ------------------------------------------------------------------------------
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/


# macOS
# ------------------------------------------------------------------------------
._*
*.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


# Build
# ==============================================================================
/[Bb]uilds/
*.apk
*.unitypackage
